GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:8000/auth/callback
SECRET_KEY=
ENVIRONMENT=development
FACE_SIMILARITY_THRESHOLD=0.4
DATABASE_URL=sqlite:///./embeddings_cache.db
